body {
    font-family: 'Montserrat', 'JetBrains Mono', 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #545454; /* para preencher a área branca com cinza escuro */
}

header {
    background-color: #737373;
    padding: 20px 5px;
    border-bottom: 1px solid #505050;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #fff;
}
header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
header nav .btn {
    font-size: 20px;
    border: none;
    padding: 8px 16px;
    background-color: #737373;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
header nav .btn:hover {
    background-color: #545454;
}
header nav .btn:active {
    background-color: #737373;
}
header nav .inputs {
    position: relative;
    padding-top: 50px;
}
header nav .inputs .icon {
    position: absolute;

    top: 10%;
    left: 50%;
    transform: translate(-50%);

    height: 50px;
    width: 50px;
}
header nav .inputs #icon-carrinho {
    background: url('../imgs/carrinho.png') no-repeat center;
    background-size: 100%;
}
header nav .inputs #icon-lista-pedidos {
    background: url('../imgs/doc.png') no-repeat center;
    background-size: 100%;
}
header nav .inputs #icon-configuracoes {
    background: url('../imgs/config.png') no-repeat center;
    background-size: 100%;
}
header nav .barra-pesquisa {
    display: flex;
    flex-direction: row;
}
header nav .barra-pesquisa .input-search {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 2px #fff solid;
    border-left: 2px #fff solid;
    border-bottom: 2px #fff solid;
    border-right: none;

    font-size: 20px;

    padding: 10px;
    width: 700px;
    background-color: #545454;
}
header nav .barra-pesquisa .btn-search {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 2px #fff solid;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;

    padding: 10px;
    background-color: #737373;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
    text-align: center;

    background: url('../imgs/logo.png') no-repeat center;
    background-size: 380px;
}

dialog[open] {
    display: grid;
    place-self: center;
}
/* configurar depois */
/* dialog[open]#settings .content #db-settings-columns input[value="+"] {
    width: 100%;
} */

footer {
    background-color: #5e5e5e;
    padding: 10px 5px;
    color: white;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}