header {
    background-color: var(--color01);
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
header nav .btn {
    font-size: 1.2em;
    padding: 8px 16px;
    background-color: transparent;
    color: var(--color06);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    transition: all .4s ease;
}
header nav .btn:hover {
    color: var(--color07);
}
header nav .btn:active {
    font-size: 1.4em;
}
header nav .inputs {
    position: relative;
    padding-top: 50px;
}
header nav .inputs .icon {
    position: absolute;

    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    height: 50px;
    width: 50px;

    /* cursor: pointer; */
}
header nav .inputs #icon-table-list {
    background: var(--icon-url-table-list) var(--background-configs);
    background-size: var(--background-size);
}
header nav .inputs #icon-clipboard {
    background: var(--icon-url-clipboard) var(--background-configs);
    background-size: var(--background-size);
}
header nav #icon-lupe {
    background: var(--icon-url-lupe) var(--background-configs);
    background-size: var(--background-size);

    height: var(--input-size);
    width: var(--input-size);

    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    cursor: pointer;

    position: absolute;
}
header nav .inputs #icon-guidebook {
    background: var(--icon-url-guidebook) var(--background-configs);
    background-size: var(--background-size);
}
header nav .inputs #icon-settings {
    background: var(--icon-url-settings) var(--background-configs);
    background-size: var(--background-size);
}
header nav .barra-pesquisa {
    display: flex;
    flex-direction: row;
    border-radius: 17px;

    position: relative;
}
header nav .barra-pesquisa .input-search {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    font-size: 20px;

    padding: 10px;
    width: 700px;

    background-color: var(--color02);
}
header nav .barra-pesquisa .input-search::-webkit-search-cancel-button {
    --size: 16px;

    -webkit-appearance: none;
    appearance: none;

    background: var(--icon-url-x) var(--background-configs);
    background-size: var(--size);

    width: var(--size);
    height: var(--size);

    cursor: pointer;
}
header nav .barra-pesquisa .input-search,
header nav .barra-pesquisa .input-search::placeholder {
    color: var(--color03);
}
header nav .barra-pesquisa .btn-search {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    padding: 0 20px;
    background-color: var(--color03);
}

main {
    height: 100%;

    background: var(--icon-url-logo) var(--background-configs);
    background-size: 380px;
}

dialog[open] {
    display: grid;
    width: 600px;
    min-height: 500px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    place-self: center;
}
dialog[open]#settings {
    background-color: var(--color05);
}
#create-wish-list {
    place-items: start center;
    position: relative;
}
#create-wish-list input {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--color03);
    color: var(--color05);

    font-size: 1.5em;
}
#create-wish-list input:disabled {
    opacity: 50%;
}
#create-wish-list #loading {
    display: grid;
    font-size: 1.5em;
    place-self: center;
    height: 100%;
}
#create-wish-list #msg {
    display: none;
    position: absolute;
    top: 65px;
    left: 50%;

    transform: translateX(-50%);

    margin: auto;
    font-family: var(--arial-font);
    opacity: 60%;
    font-size: 1.1em;
}
dialog[open] h1, dialog[open] h2 {
    text-align: center;
}
dialog[open] .content section {
    padding: 10px 0;
}
dialog[open] .content section p {
    text-align: center;
}
dialog[open] .content section p input {
    border-radius: var(--border-radius);
    transition: all .5s ease;
    padding: 2px 5px;
}
dialog[open] .content section p input[type="number"] {
    width: 8%;
}
dialog[open] .content section p input:focus {
    background-color: var(--color08);
    color: var(--color04);
}
dialog[open] .content section section ul {
    display: grid;
    place-self: center;

    margin-top: 5px;
}
dialog[open] .content #db-settings-columns li,
dialog[open] .content #spreadsheet-infos li {
    display: flex;
}
dialog[open] .content #spreadsheet-infos li input,
dialog[open] .content #db-settings-columns li input {
    padding: 5px;

    font-size: 1.2em;

    color: #fff;
}
dialog[open] .content #db-settings-columns li input:first-child,
dialog[open] .content #spreadsheet-infos li input:first-child {
    background-color: var(--color09);
    transition: all .5s ease;
}
dialog[open] .content #db-settings-columns li input:first-child:focus,
dialog[open] .content #spreadsheet-infos li input:first-child:focus {
    background-color: var(--color12);
}
dialog[open] .content #db-settings-columns li input:last-child,
dialog[open] .content #spreadsheet-infos li input:last-child {
    background-color: var(--color10);
    transition: all .5s ease;
}
dialog[open] .content #db-settings-columns li input:last-child:focus,
dialog[open] .content #spreadsheet-infos li input:last-child:focus {
    background-color: var(--color12);
}
dialog[open] .content #db-settings-columns li:first-child input:first-child,
dialog[open] .content #spreadsheet-infos li:first-child input:first-child {
    border-top-left-radius: var(--border-radius);
}
dialog[open] .content #db-settings-columns li:first-child input:last-child,
dialog[open] .content #spreadsheet-infos li:first-child input:last-child {
    border-top-right-radius: var(--border-radius);
}
dialog[open]#settings .content #db-settings-columns input[value="+"],
dialog[open]#settings .content #spreadsheet-infos input[value="+"] {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--color11);
    width: 100%;

    transition: all .5s ease;
}
dialog[open]#settings .content #spreadsheet-infos input[value="+"]:hover,
dialog[open]#settings .content #db-settings-columns input[value="+"]:hover {
    background-color: var(--color13);
}
dialog[open] .content #db-settings {
    border-radius: var(--border-radius);
    background-color: var(--color01);
}
dialog[open] .content #db-settings li {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
dialog[open] .content #db-settings li label {
    color: #fff;
}
dialog[open] .content #db-settings li input {
    color: #000;
}
dialog[open] .content #db-settings li label,
dialog[open] .content #db-settings li input {
    padding: 5px;
}
dialog[open] .content #db-settings li:first-child input {
    border-top-right-radius: var(--border-radius);
}
dialog[open] .content #db-settings li:last-child input {
    border-bottom-right-radius: var(--border-radius);
}
dialog[open] .content #db-settings li input {
    transition: all .5s ease;
}
dialog[open] .content #db-settings li label:focus,
dialog[open] .content #db-settings li input:focus {
    background-color: var(--color08);
}

.btn-close,
.btn-save {
    height: 25px;
    width: 60px;
    color: var(--color05);
    background-color: var(--color03);
    border-radius: 10px;
}
.exit-and-save{
    margin-top: 10px;
    text-align: center;

    display: flex;
    justify-content: center;
    gap: 10px;
}

table {
    background-color: var(--color14);
    width: 100%;
    border-collapse: separate;
    overflow: hidden;
}
table thead {
    border-spacing: 2px;
}
table th,
table td {
    padding: 12px;
    text-align: center;
}
table th {
    background-color: var(--color15);
    color: var(--color16);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
table td {
    font-size: 14px;
    color: var(--color17);
    font-weight: bold;
}
table tbody tr:hover td {
    background-color: var(--color18);
    color: var(--color19);
}