body {
    font-family: 'Montserrat', 'JetBrains Mono', 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #545454; /* para preencher a área branca com cinza escuro */
}

header {
    background-color: #545454;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header .barra-pesquisa {
    display: flex;
    flex-direction: row;
}

header .barra-pesquisa input[type="search"] {
    border: 1px solid #ddd;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px;
    font-size: 20px;
    outline: none;
    flex-grow: 1; /* para deixar a barra de pesquisa mais larga */
}

header .barra-pesquisa .sub {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

header .btn {
    font-size: 20px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #737373;
    color: white;
}

header .btn:hover {
    background-color: #221f1f;
}

main.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* para ocupar a altura total */
    color: white; /* Para o texto no fundo cinza */
    text-align: center; /* Centralizar o texto no meio */
}

.product-container h1 {
    margin: 0; /* Remove o margin padrão para melhor centralização */
}

footer {
    background-color: #737373;
    padding: 10px 5px;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
