body {
    font-family: Arial, sans-serif;
}
@media(max-width: 2560px) and (min-width: 912px){
        header {
            background-color: #f4f4f4;
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
        }

        .topo{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .bt-escolha{
            background-color: #007BFF;
            color: white;
            font-size: 20px;
            border: none;
            margin-left: -15px;
            padding: 8px 16px;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }
        .barra-pesquisa {
            display: flex;
            align-items: center;
        }

        .barra-pesquisa input[type="text"] {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 8px;
            margin: 0px 5px 0px 5px;
            font-size: 20px;
            width: 600px;
            outline: none;
        }

        .icon-pesquisa{
            background-color: #007BFF;
            color: white;
            height: 40px;
            width: 35px;
            border: none;
            border-radius: 0px 5px 5px 0px;
            padding: 8px;
            cursor: pointer;
            margin-left: -20px;
        }

        .icon-pesquisa:hover {
            background-color: #0056b3;
        }
        .gerar-doc{
            background-color: #007BFF;
            color: white;
            font-size: 20px;
            padding: 8px 16px;
            margin-right: -15px;
            margin-left: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .gerar-doc:hover{
            background-color: #0056b3;
        }
        main{
            height: 100%;
        }
        .principal{
            background-color: purple;
            display: flex;
            flex-direction: row;
            height: 100%;
        }

        .tabela{
            height: 75%;
            width: 500px;
            border-collapse: collapse;
        }
        .tabela th{
            background-color: violet;
            border: 1px solid black;
            padding: auto;
        }
        .tabela td{
            background-color: rgb(233, 233, 40);
            border: 1px solid black;
            padding: auto;
        }
        tbody, td{
            text-align: center;
        }
        .fundo-produtos{
            background-color: rgb(206, 79, 206);
            width: 2043px;
            height: 90.5vh;
            line-height: 33rem;
            text-align: center;
        }
}

 /* MEDIA QUERIES */
@media (max-width: 912px) and (min-width: 822px){
    header {
        background-color: #f4f4f4;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }
    .topo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bt-escolha{
        background-color: #007BFF;
        color: white;
        font-size: 16px;
        border: none;
        margin-left: -15px;
        padding: 8px 16px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }
    .barra-pesquisa {
        display: flex;
        align-items: center;
    }
    .barra-pesquisa input[type="text"] {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 8px;
        margin: 0px 5px 0px 5px;
        font-size: 16px;
        width: 550px;
        outline: none;
    }
    .icon-pesquisa{
        background-color: #007BFF;
        color: white;
        height: 35px;
        width: 35px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        padding: 8px;
        cursor: pointer;
        margin-left: -20px;
    }
    .icon-pesquisa:hover {
        background-color: #0056b3;
    }
    .gerar-doc{
        background-color: #007BFF;
        color: white;
        font-size: 16px;
        padding: 8px 16px;
        margin-right: -15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .gerar-doc:hover{
        background-color: #0056b3;
    }
    main{
            height: 100%;
        }
        .principal{
            background-color: purple;
            display: flex;
            flex-direction: row;
            height: 100%;
        }
        .tabela{
            height: 75%;
            width: 400px;
            border-collapse: collapse;
        }
        .tabela th{
            background-color: violet;
            border: 1px solid black;
            padding: auto;
        }
        .tabela td{
            background-color: rgb(233, 233, 40);
            border: 1px solid black;
            padding: auto;
        }
        tbody, td{
            text-align: center;
        }
        .fundo-produtos{
            background-color: rgb(206, 79, 206);
            width: 500px;
            height: 91.2vh;
            line-height: 33rem;
            text-align: center;
        }
}
@media (max-width: 822px) and  (min-width: 705px){
    header {
        background-color: #f4f4f4;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }
    .topo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bt-escolha{
        background-color: #007BFF;
        color: white;
        font-size: 14px;
        border: none;
        margin-left: -15px;
        padding: 8px 16px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }
    .barra-pesquisa {
        display: flex;
        align-items: center;
    }
    .barra-pesquisa input[type="text"] {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 8px;
        margin: 0px 5px 0px 5px;
        font-size: 14px;
        width: 450px;
        outline: none;
    }
    .icon-pesquisa{
        background-color: #007BFF;
        color: white;
        height: 34px;
        width: 35px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        padding: 8px;
        cursor: pointer;
        margin-left: -20px;
    }
    .icon-pesquisa:hover {
        background-color: #0056b3;
    }
    .gerar-doc{
        background-color: #007BFF;
        color: white;
        font-size: 14px;
        padding: 8px 16px;
        margin-right: -15px;
        margin-left: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .gerar-doc:hover{
        background-color: #0056b3;
    }
    main{
        height: 100%;
    }
    .principal{
        background-color: purple;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .tabela{
        height: 75%;
        width: 350px;
        border-collapse: collapse;
    }
    .tabela th{
        background-color: violet;
        border: 1px solid black;
        padding: auto;
    }
    .tabela td{
        background-color: rgb(233, 233, 40);
        border: 1px solid black;
        padding: auto;
    }
    tbody, td{
        text-align: center;
    }
    .fundo-produtos{
        background-color: rgb(206, 79, 206);
        width: 471px;
        height: 91.5vh;
        line-height: 33rem;
        text-align: center;
    }
}
@media (max-width: 705px) and (min-width: 610px){
    header {
        background-color: #f4f4f4;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }
    .topo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bt-escolha{
        background-color: #007BFF;
        color: white;
        font-size: 14px;
        border: none;
        margin-left: -15px;
        padding: 8px 16px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    } 
    .barra-pesquisa {
        display: flex;
        align-items: center;
    }
    .barra-pesquisa input[type="text"] {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 8px;
        margin: 0px 5px 0px 5px;
        font-size: 14px;
        width: 350px;
        outline: none;
    }
    .icon-pesquisa{
        background-color: #007BFF;
        color: white;
        height: 34px;
        width: 35px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        padding: 8px;
        cursor: pointer;
        margin-left: -20px;
    }
    .icon-pesquisa:hover {
        background-color: #0056b3;
    }
    .gerar-doc{
        background-color: #007BFF;
        color: white;
        font-size: 14px;
        padding: 8px 16px;
        margin-right: -15px;
        margin-left: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .gerar-doc:hover{
        background-color: #0056b3;
    }
    main{
        height: 100%;
    }
    .principal{
        background-color: purple;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .tabela{
        height: 75%;
        width: 300px;
        border-collapse: collapse;
    }
    .tabela th{
        background-color: violet;
        border: 1px solid black;
        padding: auto;
    }
    .tabela td{
        background-color: rgb(233, 233, 40);
        border: 1px solid black;
        padding: auto;
    }
    tbody, td{
        text-align: center;
    }
    .fundo-produtos{
        background-color: rgb(206, 79, 206);
        width: 456px;
        height: 91.5vh;
        line-height: 33rem;
        text-align: center;
    }
}
@media (max-width: 610px){
    header {
        background-color: #f4f4f4;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }
    .topo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bt-escolha{
        background-color: #007BFF;
        color: white;
        font-size: 12px;
        border: none;
        margin-left: -15px;
        padding: 8px 16px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    } 
    .barra-pesquisa {
        display: flex;
        align-items: center;
    }
    .barra-pesquisa input[type="text"] {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 8px;
        margin: 0px 5px 0px 5px;
        font-size: 14px;
        width: 300px;
        outline: none;
    }
    .icon-pesquisa{
        background-color: #007BFF;
        color: white;
        height: 34px;
        width: 35px;
        border: none;
        border-radius: 0px 5px 5px 0px;
        padding: 8px;
        cursor: pointer;
        margin-left: -20px;
    }
    .icon-pesquisa:hover {
        background-color: #0056b3;
    }
    .gerar-doc{
        background-color: #007BFF;
        color: white;
        font-size: 12px;
        padding: 8px 16px;
        margin-right: -15px;
        margin-left: 5px;
        height: 34px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .gerar-doc:hover{
        background-color: #0056b3;
    }
    main{
        height: 100%;
    }
    .principal{
        background-color: purple;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .tabela{
        height: 75%;
        width: 250px;
        border-collapse: collapse;
    }
    .tabela th{
        background-color: violet;
        border: 1px solid black;
        padding: auto;
    }
    .tabela td{
        background-color: rgb(233, 233, 40);
        border: 1px solid black;
        padding: auto;
    }
    tbody, td{
        text-align: center;
    }
    .fundo-produtos{
        background-color: rgb(206, 79, 206);
        width: 456px;
        height: 91.5vh;
        line-height: 33rem;
        text-align: center;
    }
}
